@model AnnouncementDTO
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .list-group li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text-dark {
        font-size: 15px;
    }
</style>

<form action="@Url.Action("AddAnnouncement","Admin", new { Area = "Admin" })" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body p-3">
                    <h5>Add Announcement</h5>
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.Title, new { @class = "text-dark" }) @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @style = "width:50%", @type = "text" })
                        </li>
                        <span asp-validation-for="Content" class="text-danger"></span>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.Content, new { @class = "text-dark" }) @Html.TextBoxFor(x => x.Content, new { @class = "form-control", @style = "width:50%", @type = "text" })
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            <div></div>
                            <button type="submit" class="btn btn-primary">Add Announcement</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>

