@model List<Comment>
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Comments</h5>
    <div class="table-responsive text-nowrap">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">UserName</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Route</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-secondary opacity-7">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">@(item.UserName)</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">@(item.Content.Length < 30 ? item.Content : item.Content.Substring(0, 30) + "...")</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">@(item.Date.ToString("dd/MM/yyyy"))</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">@(item.Destination.City)</span>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">@(item.Status ? "Active" : "Passive")</span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("EditComments", "Admin", new { Area = "Admin", id = item.CommentID })"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->
