@model EntityLayer.Concreate.Comment
@{
    ViewData["Title"] = "EditComments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .list-group li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text-dark {
        font-size: 15px;
    }
</style>

<form action="@Url.Action("UpdateComments","Admin", new { Area = "Admin" })" method="post">
    <div class="row">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body p-3">
                    <h5>Edit Route</h5>
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                            @Html.HiddenFor(x => x.CommentID)
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.UserName, new { @class = "text-dark" }) @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @style = "width:50%", @type = "text", @readonly = "readonly" })
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.Date, new { @class = "text-dark" }) @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @style = "width:50%", @type = "text", @readonly = "readonly" })
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.Content, new { @class = "text-dark" }) @Html.TextBoxFor(x => x.Content, new { @class = "form-control", @style = "width:50%", @type = "text", @readonly = "readonly" })
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.HiddenFor(x => x.DestinationID)
                        </li>
                        <li class="list-group-item border-0 ps-0 text-sm">
                            @Html.LabelFor(x => x.Status, new { @class = "text-dark" })
                            <div style="display: flex;column-gap: 20px;">
                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Status, true, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="durumAktif">Aktif</label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Status, false, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="durumPasif">Pasif</label>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item border-0 ps-0 text-sm">
                            <div></div>
                            <button type="submit" class="btn btn-primary">Update Destination</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>


